@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

.welcome-panel {
    position: relative;
    overflow: auto;
    margin: 16px 0;
    padding: 10px 0;
    border: 1px solid #e5e5e5;
    /*box-shadow: 0 1px 1px rgba(0,0,0,.04);*/
    background: #fff;
    font-size: 13px;
    line-height: 2.1em;
    font-family: 'Roboto', sans-serif;

    -moz-box-shadow: 0px 0px 5px 0px #656565;
    -webkit-box-shadow: 0px 0px 5px 0px #656565;
    -o-box-shadow: 0px 0px 5px 0px #656565;
    box-shadow: 0px 0px 5px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=5);
}

.wpabstats_charts{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin:0;
    padding:0;
}


.wpabstats_flex_container{
    position: relative;
    overflow: hidden;
    width: 49%;
    margin:5px;
    height: auto;
    font-family: 'Roboto', sans-serif;

    max-height: 300px;

    border: 1px solid #BABABA;
}

.wpabstats_visitor_container{
    position: relative;
    display: block;
    list-style: none;
    padding:0 0 0 0;
    margin: 0 0 0 0;
    overflow-y: auto;
    overflow-x: none;
    max-height: 274px;

    .wpabstats_visitor_items{
        display: flex;
        border-bottom: 1px dashed #BABABA;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        justify-content: flex-start;
        flex-wrap: nowrap;

        .item{
            padding: 0 5px;
            font-size: 12px;
            width: auto;
            flex-grow: 1;
        }

        .item_browser{
            padding-top: 3px;
            max-width: 18px;
        }

        .item_flag{
            max-width: 18px;
        }
        .item_ip{
            width: 25%;
            //border: 1px dotted grey;

        }

        .item_city{
            width: 25%;
            //border: 1px dotted grey;

        }

        .item_country{
            width: 25%;
            //border: 1px dotted grey;

        }

        .item_continent{
            width: 20%;
            //border: 1px dotted grey;

        }

        .item_date{
            width: 30%;
            //border: 1px dotted grey;
            //font-size: 10px;

        }

        .item_post{
            //width: 20%;
            //border: 1px dotted grey;
            display: none;

        }
    }
}

.wpabstats_visitor_paginate{

    position: relative;
    display: flex;
    justify-content: center;
    list-style: none;
    padding:0 0 0 0;
    margin: 0 0 0 0;
    font-size: 12px;
    background-color: #BABABA;
    color: #FFF;

    li.wpabstats_paginate_item{
        padding: 0 5px;
        margin:0;
        text-align: center;

        .paginate_link{
            text-decoration: none;
            color: inherit;
            font-size: 11px;
        }

        .paginate_active{
            color: #202629;
        }
    }
}

.wpabstats_active_widget{
    position: fixed;
    top: 0;
    right: 0;
    padding: 3px;
    z-index: 10;
    opacity: 0.5;
}